<th>
    <div class="d-flex flex-column align-items-center gap-1">
        <i class="bi bi-sort-down" id="id-column-campo" data-direcao=""></i>
        <span>
            id

        </span>

    </div>
</th>
<th>
    <div class="d-flex flex-column align-items-center gap-1">
        <i class="bi bi-sort-down" id="cd_geocodi-column-campo" data-direcao=""></i>
        <span>
            cd_geocodi

        </span>

    </div>
</th>
<th>
    <div class="d-flex flex-column align-items-center gap-1">
        <i class="bi bi-sort-down" id="municipio-column-campo" data-direcao=""></i>
        <span>
            municipio

        </span>

    </div>
</th>
<th>
    <div class="d-flex flex-column align-items-center gap-1">
        <i class="bi bi-sort-down" id="cd_estacao-column-campo" data-direcao=""></i>
        <span>
            cd_estacao

        </span>

    </div>
</th>
<th>
    <div class="d-flex flex-column align-items-center gap-1">
        <i class="bi bi-sort-down" id="longitude-column-campo" data-direcao=""></i>
        <span>
            longitude

        </span>

    </div>
</th>
<th>
    <div class="d-flex flex-column align-items-center gap-1">
        <i class="bi bi-sort-down" id="latitude-column-campo" data-direcao=""></i>
        <span>
            latitude

        </span>

    </div>
</th>
<th>
    <div class="d-flex flex-column align-items-center gap-1">
        <i class="bi bi-sort-down" id="cota_rn_ana-column-campo" data-direcao=""></i>
        <span>
            cota_rn_ana

        </span>

    </div>
</th>
<th>
    <div class="d-flex flex-column align-items-center gap-1">
        <i class="bi bi-sort-down" id="cota_rn_orto-column-campo" data-direcao=""></i>
        <span>
            cota_rn_orto

        </span>

    </div>
</th>
<th>
    <div class="d-flex flex-column align-items-center gap-1">
        <i class="bi bi-sort-down" id="cota_atencao-column-campo" data-direcao=""></i>
        <span>
            cota_atencao

        </span>

    </div>
</th>
<th>
    <div class="d-flex flex-column align-items-center gap-1">
        <i class="bi bi-sort-down" id="cota_alerta-column-campo" data-direcao=""></i>
        <span>
            cota_alerta

        </span>

    </div>
</th>
<th>
    <div class="d-flex flex-column align-items-center gap-1">
        <i class="bi bi-sort-down" id="cota_inundacao-column-campo" data-direcao=""></i>
        <span>
            cota_inundacao

        </span>

    </div>
</th>
<th>
    <div class="d-flex flex-column align-items-center gap-1">
        <i class="bi bi-sort-down" id="cota_maxima-column-campo" data-direcao=""></i>
        <span>
            cota_maxima

        </span>

    </div>
</th>
<th>
    <div class="d-flex flex-column align-items-center gap-1">
        <i class="bi bi-sort-down" id="data_voo-column-campo" data-direcao=""></i>
        <span>
            data_voo

        </span>

    </div>
</th>
<th>
    <div class="d-flex flex-column align-items-center gap-1">
        <i class="bi bi-sort-down" id="status-column-campo" data-direcao=""></i>
        <span>
            status

        </span>

    </div>
</th>
<th>
    <div class="d-flex flex-column align-items-center gap-1">
        <i class="bi bi-sort-down" id="integrado-column-campo" data-direcao=""></i>
        <span>
            integrado

        </span>

    </div>
</th>
<th>
    <div class="d-flex flex-column align-items-center gap-1">
        <i class="bi bi-sort-down" id="cidade_id-column-campo" data-direcao=""></i>
        <span>
            cidade_id

        </span>

    </div>
</th>