:root {
  --verde: #198754;
  --azul: #015C91;
  --amarelo: #e6a817;
  --laranja: #d85a30;
  --vermelho: #ff0100;
}

.fs-7 {
  font-size: 0.75rem;
}

.bg-light-body {
  background-color: #f5f7fa;
}

.stats-card {
  background-color: white;
}

/* ======  BORDERS  ====== */

/* top */
.border-top-color-verde {
  border-top: 6px solid var(--verde);
}

/* bottom */
.border-bottom-color-verde {
  border-bottom: 6px solid var(--verde);
}


/* left's */
.border-left-color-verde {
  border-left: 6px solid var(--verde);
}

.border-left-color-azul {
  border-left: 6px solid var(--azul);
}

.border-left-color-amarelo {
  border-left: 6px solid var(--amarelo);
}

.border-left-color-laranja {
  border-left: 6px solid var(--laranja);
}

.border-left-color-vermelho {
  border-left: 6px solid var(--vermelho);
}