:root {
  --verde: #198754;
  --azul: #015C91;
  --amarelo: #e6a817;
  --laranja: #F28500;
  --vermelho: #ff0100;
  --size-2px: 2px;
  --size-4px: 4px;
  --size-6px: 6px;
}

.fs-7 {
  font-size: 0.75rem;
}

.bg-light-body {
  background-color: #f5f7fa;
}

.stats-card {
  background-color: white;
}

.bi-sort-down {
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
  display: inline-block;
  transform-origin: center;
}

.bi-sort-down:hover {
  color: var(--verde);
  transform: scale(1.15);
}



/* ======= BACKGROUNDS ====== */
.bg-amarelo {
  background-color: var(--amarelo);
}

.bg-laranja {
  background-color: var(--laranja);
}

.bg-vermelho {
  background-color: var(--vermelho);
}


/* ======================  BORDERS  ================================================ */

/* top */
.border-top-color-vermelho-width-2 {
  border-top: solid var(--size-2px) var(--vermelho);
}

.border-top-color-laranja-width-2 {
  border-top: solid var(--size-2px) var(--laranja);
}

.border-top-color-amarelo-width-2 {
  border-top: solid var(--size-2px) var(--amarelo);
}

.border-top-color-verde-width-2 {
  border-top: solid var(--size-2px) var(--verde);
}

.border-top-color-vermelho-width-4 {
  border-top: solid var(--size-4px) var(--vermelho);
}

.border-top-color-laranja-width-4 {
  border-top: solid var(--size-4px) var(--laranja);
}

.border-top-color-amarelo-width-4 {
  border-top: solid var(--size-4px) var(--amarelo);
}

.border-top-color-verde-width-4 {
  border-top: solid var(--size-4px) var(--verde);
}

.border-top-color-vermelho-width-6 {
  border-top: solid var(--size-6px) var(--vermelho);
}

.border-top-color-laranja-width-6 {
  border-top: solid var(--size-6px) var(--laranja);
}

.border-top-color-amarelo-width-6 {
  border-top: solid var(--size-6px) var(--amarelo);
}

.border-top-color-verde-width-6 {
  border-top: solid var(--size-6px) var(--verde);
}

/* ======= BOTTOM COLOR =============================== */

/* ====== width 2px ======= */
.border-bottom-color-verde-width-2 {
  border-bottom: solid var(--size-2px) var(--verde);
}

.border-bottom-color-color-amarelo-width-2 {
  border-bottom: solid var(--size-2px) var(--amarelo);
}

.border-bottom-color-color-laranja-width-2 {
  border-bottom: solid var(--size-2px) var(--laranja);
}

.border-bottom-color-color-vermelho-width-2 {
  border-bottom: solid var(--size-2px)var(--vermelho);
}

/* ====== width 4px ======= */
.border-bottom-color-verde-width-4 {
  border-bottom: solid var(--size-4px) var(--verde);
}

.border-bottom-color-color-amarelo-width-4 {
  border-bottom: solid var(--size-4px) var(--amarelo);
}

.border-bottom-color-color-laranja-width-4 {
  border-bottom: solid var(--size-4px) var(--laranja);
}

.border-bottom-color-color-vermelho-width-4 {
  border-bottom: solid var(--size-4px)var(--vermelho);
}

/* ====== width 6px ======= */
.border-bottom-color-verde-width-6 {
  border-bottom: solid var(--size-6px) var(--verde);
}

.border-bottom-color-color-amarelo-width-6 {
  border-bottom: solid var(--size-6px) var(--amarelo);
}

.border-bottom-color-color-laranja-width-6 {
  border-bottom: solid var(--size-6px) var(--laranja);
}

.border-bottom-color-color-vermelho-width-6 {
  border-bottom: solid var(--size-6px)var(--vermelho);
}

/* ====================================================== */


/* ======= LEFT COLOR =============================== */

/* ====== width 2px ======= */
.border-left-color-verde-width-2 {
  border-left: solid var(--size-2px) var(--verde);
}

.border-left-color-azul-width-2 {
  border-left: solid var(--size-2px) var(--azul);
}

.border-left-color-amarelo-width-2 {
  border-left: solid var(--size-2px) var(--amarelo);
}

.border-left-color-laranja-width-2 {
  border-left: solid var(--size-2px) var(--laranja);
}

.border-left-color-vermelho-width-2 {
  border-left: solid var(--size-2px) var(--vermelho);
}

/* ====== width 4px ======= */
.border-left-color-verde-width-4 {
  border-left: solid var(--size-4px) var(--verde);
}

.border-left-color-azul-width-4 {
  border-left: solid var(--size-4px) var(--azul);
}

.border-left-color-amarelo-width-4 {
  border-left: solid var(--size-4px) var(--amarelo);
}

.border-left-color-laranja-width-4 {
  border-left: solid var(--size-4px) var(--laranja);
}

.border-left-color-vermelho-width-4 {
  border-left: solid var(--size-4px) var(--vermelho);
}

/* ====== width 6px ======= */
.border-left-color-verde-width-6 {
  border-left: solid var(--size-6px) var(--verde);
}

.border-left-color-azul-width-6 {
  border-left: solid var(--size-6px) var(--azul);
}

.border-left-color-amarelo-width-6 {
  border-left: solid var(--size-6px) var(--amarelo);
}

.border-left-color-laranja-width-6 {
  border-left: solid var(--size-6px) var(--laranja);
}

.border-left-color-vermelho-width-6 {
  border-left: solid var(--size-6px) var(--vermelho);
}