<td>
    <span>#{{ item.id }}</span>
</td>
<td>
    <span>{{ item.cd_geocodi }}</span>
</td>
<td>
    <span>{{ item.municipio }}</span>
</td>
<td>
    <span>{{ item.cd_estacao }}</span>
</td>
<td>
    <span>{{ item.longitude }}</span>
</td>
<td>
    <span>{{ item.latitude }}</span>
</td>
<td>
    <span>{{ item.cota_rn_ana }}</span>
</td>
<td>
    <span>{{ item.cota_rn_orto }}</span>
</td>
<td>
    <span class="badge bg-amarelo">{{ item.cota_atencao_formatada }}</span>
</td>
<td>
    <span class="badge bg-laranja">{{ item.cota_alerta_formatada }}</span>
</td>
<td>
    <span class="badge bg-vermelho">{{ item.cota_inundacao_formatada }}</span>
</td>
<td>
    <span>{{ item.cota_maxima }}</span>
</td>
<td>
    <span>{{ item.data_voo_formatada }}</span>
</td>
<td>
    <span>{{ item.status }}</span>
</td>
<td>
    <span>{{ item.integrado }}</span>
</td>
<td>
    <span>{{ item.cidade_id }}</span>
</td>